[alias]
        co = checkout
        st = status -s
        br = branch
        last = log -1 HEAD
        diff = diff --word-diff
        save = !git add -A && git commit -m 'SAVEPOINT'
        wip = commit -am "WIP"
        amend = commit -a --amend
        bclean = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs -r git branch -d; }; f"
        lg = log --graph --oneline --decorate --all
        lgs = log --graph --oneline --decorate --all --name-status
        pa = "!f() { git fetch --all && for b in `git branch -r | grep -v -- '->'`; do git branch --track ${b##origin/} $b; done && git pull --all; }; f"
        chlogm = "!f() { git log $1...$2 --pretty=format:'* [view](http://github.com/$3/$4/commit/%H) %b %s' --reverse | grep 'Merge pull request'; }; f"
        chlog = "!f() { git log $1...$2 --pretty=format:'* [view](http://github.com/$3/$4/commit/%H) %b %s' --reverse | grep -v Merge; }; f"
        bug = "!f() { git feature -a bug $1; }; f"
        chore = "!f() { git feature -a chore $1; }; f"
        refactor = "!f() { git refactor -a refactor $1; }; f"
[user]
        name = Yetrina Battad
        email = hello@yetti.io
[push]
        default = current
[color]
        ui = auto
[core]
        autocrlf = input
[fetch]
        prune = true
[init]
        defaultBranch = main
